@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%container {
  max-width: $ul;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%text-liner-gradient {
  background: linear-gradient($text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%grey-line-radius {
  position: absolute;
  top: 100%;
  border-radius: 0 0 12px 12px;
}

%cases-grid {
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding: $gap;
  justify-content: flex-end;
  background-color: $color-gray-bg;
}