@use "../../../presets" as *;
@use "../../../mixins" as *;


.cases {
  &__container {
    @extend %container;
  }

  &__grid {
    margin-top: 40px;
    margin-bottom: 30px;
    display: grid;
    gap: 2px;


    @include lg-min {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 60px 200px 200px;
      grid-template-areas:
        "one one one three three three fore fore fore"
        "two two two three three three fore fore fore"
        "five five six six six seven seven seven seven ";
    }

    @include lg-md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 60px 140px 140px 140px;
      grid-template-areas:
        "one one"
        "two three"
        "fore five"
        "six seven";
    }

    @include md {
      grid-template-columns: 1fr;
      grid-template-rows: 60px 140px 140px 140px 140px 140px 140px;
      grid-template-areas:
        "one"
        "two"
        "three"
        "fore"
        "five"
        "six"
        "seven";
    }
  }

  &__item {
    &-one {
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-accent;
      @extend %cases-grid;
      grid-area: one;

      @include lg-min {
        border-radius: 10px 0 0 0;
      }

      @include lg {
        border-radius: 10px 10px 0 0;
      }

    }

    &-two {
      @extend %cases-grid;
      grid-area: two;
    }

    &-description {
      color: $color-primary-soft;

      @include md-min {
        font-size: 24px;
      }

      @include md {
        font-size: 18px;
      }
    }

    &-note {
      font-size: 18px;
      line-height: 1.4;
      color: $color-gray-text;

      @include lg-min {}

      @include lg-md {}

      @include md {}
    }

    &-three {
      @extend %cases-grid;
      grid-area: three;
    }

    &-fore {
      @extend %cases-grid;
      grid-area: fore;

      @include lg-min {
        border-radius: 0 10px 0 0;
      }

      @include lg {
        border-radius: 0;
      }
    }

    &-five {
      @extend %cases-grid;
      grid-area: five;

      @include lg-min {
        border-radius: 0 0 0 10px;
      }

      @include lg {
        border-radius: 0;
      }

    }

    &-six {
      @extend %cases-grid;
      grid-area: six;

      @include lg-min {
        border-radius: 0;
      }

      @include lg-md {
        border-radius: 0 0 0 10px;
      }

      @include md {
        border-radius: 0;
      }
    }

    &-seven {
      @extend %cases-grid;
      grid-area: seven;

      @include md-min {
        border-radius: 0 0 10px 0;

      }

      @include md {
        border-radius: 0 0 10px 10px;
      }
    }
  }

}