@use "../../../presets" as *;
@use "../../../mixins" as *;
$size: 16px;

.experience {
  background-color: $color-primary;

  @include md-min {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md {
    padding-top: 40px;
    padding-bottom: 45px;
  }

  &__container {
    @extend %container;
  }
}

.slider {
  display: flex;

  @include md-min {
    gap: 80px;
  }

  @include md {
    flex-direction: column;
  }

  &__headers {
    position: relative;
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: $gap;

    @include md-min {
      &::after {
        position: absolute;
        right: -42px;
        width: 4px;
        height: 100%;
        content: "";
        background-color: $color-gray-separator;
      }
    }
  }

  &__header {
    position: relative;
    user-select: none;
    color: $color-gray-text;

    @include md-min {
      text-align: right;
      font-size: 42px;
    }

    @include md {
      display: none;
      width: min-content;
      margin-bottom: 10px;
      white-space: nowrap;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
    }

    &.active {
      @extend %text-liner-gradient;

      @include md-min {
        &::after {
          position: absolute;
          z-index: 2;
          right: -42px;
          width: 4px;
          height: 100%;
          content: "";
          background-color: $color-accent;
        }
      }

      @include md {
        display: block;
      }
    }
  }

  &__notes {
    color: $color-white;
    flex-grow: 3;
    flex-basis: 0;
    display: flex;
    align-items: center;
    padding-right: 40px;
  }

  &__note {
    position: absolute;
    z-index: -9999;
    opacity: 0;
    min-height: 300px;

    &.active {
      position: static;
      z-index: inherit;
      opacity: 1;
    }
  }

  &__title {
    margin-bottom: $gap;

    @include md-min {
      font-size: 32px;
    }

    @include md {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }

  &__description {
    line-height: 1.45;

    @include md-min {
      font-size: 21px;
    }

    @include md {
      margin-bottom: $gap;
      font-size: 18px;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;

    gap: 14px;
  }

  &__indicator {
    width: $size;
    height: $size;

    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-active;

    @include md-min {
      display: none;
    }

    &.active {
      opacity: 1;
    }
  }
}