@use "../presets" as *;
@use "../mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
  font-family: $font-primary;
}

body {
  line-height: 1.2;
  transition: transform 0.5s;

  &.active {
    overflow: hidden;
    transform: translateX(-$mobile-menu-size);

    &::before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      content: "";
      background-color: rgba($color-primary-soft, 0.95);

    }
  }


}

a {
  text-decoration: none;
  color: $color-white;
}